matplotlib
pandas
jax
jaxlib
jaxtyping
gymnax
distrax
optax
flax
numpy
navix
flashbax
filelock
wandb
PyExpUtils-andnp~=7.0
RlEvaluation @ git+https://github.com/rlai-lab/rl-evaluation@ef3a117f7515ba74e7d6ef455e0a2b6a481531b8